<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="TravelShare - Your one-stop destination for travel planning.">
        <meta name="keywords" content="travel, flights, hotels, excursions, forums">
        <title>{% block title %}Welcome!{% endblock title %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock stylesheets %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock javascripts %}
    </head>
    <body class="min-h-screen">
        {% include "components/navbar.html.twig" %}
        <main class="pt-25 pb-10 w-full bg-background text-primary-foreground">
            {% block body %}{% endblock body %}
        </main>
        {% include "components/footer.html.twig" %}
    </body>
</html>
