<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}TravelaShare - Tourism Website Template{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Lien vers la favicon -->
    <link rel="icon" href="{{ asset('images2/favicon.svg') }}" type="image/x-icon">


    {% block css%}
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    {% endblock%}
</head>

{% block body %}
<body>

<!-- Spinner Start -->
<!-- Spinner End -->

<!-- Topbar Start -->
<!-- Topbar End -->

<!-- Navbar & Hero Start -->
<!-- Navbar & Hero End -->

<!-- About Start -->
<!-- About End -->

<!-- Services Start -->
<!-- Services End -->

<!-- Destination Start -->
<!-- Destination End -->

<!-- Explore Tour Start -->
<!-- Explore Tour Start -->

<!-- Packages Start -->
<!-- Packages End -->

<!-- Gallery Start -->
<!-- Gallery End -->

<!-- Tour Booking Start -->
<!-- Tour Booking End -->

<!-- Travel Guide Start -->
<!-- Travel Guide End -->

<!-- Blog Start -->
<!-- Blog End -->

<!-- Testimonial Start -->
<!-- Testimonial End -->

<!-- Subscribe Start -->
<!-- Subscribe End -->

<!-- Footer Start -->
<!-- Footer End -->

<!-- Copyright Start -->
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>

{% endblock %}

{% block js%}
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>


    <!-- Template Javascript -->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}
</body>
</html>